<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>Digievents</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">DIGIEVENTS</div>
      <div class="nav-links">
        <a href="/">Accueil</a>
        <a href="/artistes" id="active">Artistes</a>
        <a href="/lieux">Lieux</a>
        <a href="/dates">Dates</a>
        <a href="/apropos">A propos</a>
      </div>
      <div class="search-icon">🔍</div>
    </div>
  </body>
</html>
